/*
!app

#Ignore this folder
app/public
app/sql

#app ignore inside of project name
!app/bedrock/*

# Composer
app/bedrock/vendor

app/bedrock/web/wp
app/bedrock/web/.htaccess
app/bedrock/web/index.php

app/bedrock/web/app/*
!app/bedrock/web/app/themes
app/bedrock/web/app/themes/*
!app/bedrock/web/app/themes/twentytwentythree

!app/bedrock/web/app/uploads
app/bedrock/web/app/uploads/*
!app/bedrock/web/app/uploads/.gitkeep
app/bedrock/web/app/cache/*

!app/bedrock/web/app/plugins
app/bedrock/web/app/plugins/*
!app/bedrock/web/app/plugins/.gitkeep


#Ignor this file
!.gitignore
!app/bedrock/web/wp-config.php

# Logs
*.log

# WP-CLI
app/bedrock/wp-cli.local.yml
app/bedrock/wp-cli.yml
app/bedrock/phpcs.xml
app/bedrock/changelog.md
app/bedrock/.env.example
